*{
    box-sizing: border-box;
}

body{
    background-image: url("bg-three.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover; 
    color: white;
}

footer{
    position: absolute;
    bottom: 0;
    left: 400px;
    color: white;
}

.menu-container{
    height: 100vh;
    background: black;
    box-shadow: 5px 0 15px 5px gainsboro;
    margin-left: -10px;
}

.menu-container .accordion .card{
    background-color: black;
    opacity: 0.7;
    color: white;
}
.menu-container .accordion .card .btn-link{
    color: white
}

.landing-container .mt-20{
  margin-top: 20rem;
}

.landing-container .mt-10{
    margin-top: 10rem;
  }

.proceed-button{
    text-align: center;
}

.input-group{
    margin: 0 auto;
}

.q-container{
    height: 130px;
}

.animate-landing-box{
    animation: bounce 1s;
    top: 10px;
}

@keyframes bounce {
    0% {
      top: 200px;
      animation-timing-function: ease-out;
    }
    100% {
      top: 10px;
    }
  }

.page-header{
    color: white;
    text-align: center;
}

.dropdown-box{
    text-align: center;
}

.practioners-count{
    text-align: center;
    color: white;
}

.architecture-diagram-box{
    display: none;
}
  
